.app {
    display: block;
    margin: 1em 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    cursor: pointer;
}

.hostname {
    display: inline-block;
    margin: 0;
}

.breadcrumb {
    display: inline-block;
    margin: 0;
}

.itemlabel {
    margin: 0;
    margin-top: 1em;
}

.iteminfo {
    display: inline-block;
    margin: 0;
    margin-top: 0.1em;
}

.gray {
    color: #3A3A3A;
}

.no-select {
    user-select: none;
    /* Vendor prefixes for older browser compatibility */
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

a:hover,
.itemlabel:hover {
    color: blue;

}