@import "tailwindcss";

.p-button:focus {
    box-shadow: none !important;
}

.p-checkbox-box {
    border-radius: 50% !important;
}

.selectbutton .p-button {
    padding: 0.4rem 0.7rem;
    font-size: 13px;
    font-weight: 500;
}

.p-inputgroup {
    height: 2.25rem;
}

input:focus {
    outline: none;
    border: 1px solid dodgerblue;
    box-shadow: none;
}

.p-overlaypanel-content {
    padding: 0.7rem;
}